*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}

// Font sizes

h1 {
  font-size: $header1;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

// Utilities

.current {
  background: $bg-color;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

// Button

.btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: $bg-color;
  color: #fff;
  transition: all 0.3s;

  &:focus,
  &:hover {
    background: lighten($color: $bg-color, $amount: 20%);
  }
}
