.main-header {
  width: 95%;
  margin: 0 0 0 auto;
}

.main-nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

  &__logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    &-img {
    }
  }
  &__title {
    margin: 2rem;
  }

  &__list {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }

  &__item {
  }

  &__link {
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(space-between, center, row);
  flex-wrap: wrap;

  &__content {
    flex: 1 1 40rem;
  }

  &__title {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  &__subtitle {
    font-size: 6rem;
    padding: 2rem 0;
  }

  &__text {
    padding-top: 2rem;
    color: $gray-text;
  }

  &__social {
    margin-top: 4rem;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 5rem;
    }

    &-icon {
    }
  }

  &__images {
    flex: 1 1 40rem;
  }

  &__image-me {
  }

  &__image-splash {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
  }
}

#plant {
  &-left,
  &-right {
    animation: leaf 1.5s ease infinite alternate-reverse;
    transform-origin: bottom;
    perspective: 100px;
    transform-box: fill-box;
    perspective: 500px;
  }
  &-right {
    animation-delay: 0.5s;
  }
}

#me {
  transform-origin: bottom;
  animation: me 1s ease infinite alternate-reverse;
}

#clock-arrow {
  transform-origin: bottom;
  animation: clock 3s linear infinite forwards;
  transform-box: fill-box;
}

@keyframes leaf {
  from {
    transform: translateY(0) rotateY(0deg);
  }
  to {
    transform: translateY(-200%) rotateY(180deg);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-2deg);
  }
  to {
    transform: rotateZ(2deg);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
