.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
}

.project {
  flex: 1 1 40rem;

  &__title {
    margin: 4rem;
  }
}
