*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

.current {
  background: #154353;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #154353;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:focus, .btn:hover {
  background: #2a85a4;
}

.main-header {
  width: 95%;
  margin: 0 0 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.main-nav__title {
  margin: 2rem;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro__title {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.intro__subtitle {
  font-size: 6rem;
  padding: 2rem 0;
}

.intro__text {
  padding-top: 2rem;
  color: #2c2c2c;
}

.intro__social {
  margin-top: 4rem;
}

.intro__link:not(:last-child) {
  margin-right: 5rem;
}

.intro__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro__image-splash {
  position: absolute;
  top: 0;
  right: -5%;
  height: 100%;
  z-index: -1;
}

#plant-left, #plant-right {
  animation: leaf 1.5s ease infinite alternate-reverse;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-perspective: 100px;
          perspective: 100px;
  transform-box: fill-box;
  -webkit-perspective: 500px;
          perspective: 500px;
}

#plant-right {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#me {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  animation: me 1s ease infinite alternate-reverse;
}

#clock-arrow {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: clock 3s linear infinite forwards;
          animation: clock 3s linear infinite forwards;
  transform-box: fill-box;
}

@-webkit-keyframes leaf {
  from {
    -webkit-transform: translateY(0) rotateY(0deg);
            transform: translateY(0) rotateY(0deg);
  }
  to {
    -webkit-transform: translateY(-200%) rotateY(180deg);
            transform: translateY(-200%) rotateY(180deg);
  }
}

@keyframes leaf {
  from {
    -webkit-transform: translateY(0) rotateY(0deg);
            transform: translateY(0) rotateY(0deg);
  }
  to {
    -webkit-transform: translateY(-200%) rotateY(180deg);
            transform: translateY(-200%) rotateY(180deg);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.project__title {
  margin: 4rem;
}

.contact {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.contact__form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
}

input,
textarea {
  margin: 2rem;
}

input:focus,
textarea:focus {
  outline: 2px solid #154353;
}

textarea {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.footer {
  background: #154353;
  color: #fff;
  min-height: 10vh;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__cp {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.footer__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 83.25em) {
  html {
    font-size: 53%;
  }
  .main-nav {
    width: 100%;
  }
  .intro__image-splash {
    right: -30%;
  }
  .intro__image-me {
    width: 80%;
  }
}

@media screen and (max-width: 69.5em) {
  .intro__image-splash {
    right: -50%;
  }
}

@media screen and (max-width: 59.5em) {
  .intro__image-splash {
    right: -80%;
  }
}

@media screen and (max-width: 47em) {
  html {
    font-size: 50%;
  }
  .main-header {
    margin: 0 auto;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__images {
    text-align: center;
  }
  .intro__image-splash {
    display: none;
  }
  .intro__image-me {
    height: 60%;
  }
  .project {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .project__img {
    width: 100%;
    height: 100%;
  }
  .contact__form {
    padding: 3rem;
  }
}

@media screen and (max-width: 35em) {
  .main-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  .main-nav__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  __list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .intro {
    text-align: center;
  }
  .intro__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  .intro__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
}
/*# sourceMappingURL=main.css.map */